<html>
    <body style="background-color:ivory; font-family: Trocchi;">
        <!------ Include the above in your HEAD tag ---------->

  <!-- Contact Us Section -->
  <br>
    <section style="font-family: Trocchi;" class="Material-contact-section section-padding section-dark">
        <div class="container">
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                    <h1 class="section-title" style="color: #e1ad01;">Contact Us</h1>
                </div>
            </div>
            <div class="row">
                <!-- Section Titile -->
                <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
                  <p>Placeholder text here</p>
  
                  <div class="find-widget">
                   Company:  <p>Name of Company</p>
                  </div>
                  <div class="find-widget">
                   Address: <p>Address Link</p>
                  </div>
                  <div class="find-widget">
                    Phone:  <p>phone number</p>
                  </div>
                </div>
                <!-- contact form -->
                <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                    <form class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                        <!-- Name -->
                        <div class="form-group label-floating">
                          <label class="control-label" for="name">Name</label>
                          <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                          <div class="help-block with-errors"></div>
                        </div>
                        <!-- email -->
                        <div class="form-group label-floating">
                          <label class="control-label" for="email">Email</label>
                          <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                          <div class="help-block with-errors"></div>
                        </div>
                        <!-- Subject -->
                        <div class="form-group label-floating">
                          <label class="control-label">Subject</label>
                          <input class="form-control" id="msg_subject" type="text" name="subject" required data-error="Please enter your message subject">
                          <div class="help-block with-errors"></div>
                        </div>
                        <!-- Message -->
                        <div class="form-group label-floating">
                            <label for="message" class="control-label">Message</label>
                            <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                            <div class="help-block with-errors"></div>
                        </div>
                        <!-- Form Submit -->
                        <div class="form-submit mt-5">
                            <button class="btn btn-outline-secondary" type="submit" id="form-submit" style="font-family: Trocchi;"> Send Message</button>
                            <div id="msgSubmit" class="h3 text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </section>
    </body>
</html>