<html>
  <body style="font-family: Trocchi;">
    <span class="img-container">
      <video width="320" height="240">
        <source src="C:\Users\Student\Downloads\autismvid.mp4" type="video/mp4">
      </video>
     </span>
    
    <nav class="navbar navbar-expand-lg"> 
    <button class="tablink" id="defaultOpen" routerLink="/">Home</button>
    <button class="tablink" routerLink="/services">ABA Services</button>
    <button class="tablink" routerLink="/contact">Contact</button>
    
    <ul class="nav navbar-nav ml-auto">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <a href="https://www.facebook.com/sensorytc/?ref=nf&hc_ref=ARTSzb3EQcdK1laxeM3yTjCukVc8IyxVq0DexCbCmxylFL23RyRnGdWNVnT1AwOEi3A" class="fa fa-facebook"></a>
      <a href="https://www.instagram.com/sensorytuneco_/" class="fa fa-instagram"></a>
      <a href="https://www.youtube.com/channel/UCKJMVkMLWkaiclAmpRz1SyA" class="fa fa-youtube"></a>
    </ul>
  </nav>
</body>
</html>
