<html>
    <body style="background-color:lightgoldenrodyellow; font-family: Trocchi; text-align: center;">
        <br>
        <div class="card-deck">
          <div class="card border-info mb-3">
            <img src="https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/110147731_162106445541060_7460494857237275547_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=Ab3KBH1k17sAX_1Zlr4&oh=4cd60a0bf915605b862442d0025bdcf6&oe=5F198146" class="card-img-top" alt="School-Based Therapy">
            <div class="card-body">
              <h5 class="card-title">School-Based Therapy</h5>
              <p class="card-text">Upon the parents’ request, our BCBAs will: <br>
                Review your child’s IEP <br>
                Evaluate the appropriateness of the goals <br>
                Evaluate the procedures and accommodations being utilized <br>
                Provide feedback to the family
                </p>
              <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#modalSchool">Read More</button>
            </div>
          </div>

          <div class="modal fade" id="modalSchool" tabindex="-1" role="dialog" aria-labelledby="modalSchoolTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalSchoolTitle">School-Based Therapy</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  BCBAs are also able to do things such as attend IEP meetings to discuss and compare goals, to collaborate with the school team, and to provide suggestions for strategies that can be implemented in the school setting. Lastly, the BCBA is able to conduct classroom observations and provide school observation reports to the family and school team.

                  Our BCBAs are also happy to collaborate with any private therapists as well. The coordination of services ensures that all care providers are continuing to use the most effective treatments across all environments.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="card border-warning mb-3">
            <img src="https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/p480x480/109905905_325420178490733_9159362410788337617_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=101&_nc_ohc=rpokGElWN88AX-Kf3wG&oh=185a26dcba5d578f1378427c03eef328&oe=5F190EEF" class="card-img-top" alt="Home-Based Therapy">
            <div class="card-body">
              <h5 class="card-title">Home-based Therapy</h5>
              <p class="card-text">Sensory Tune-up and Co provides home-based therapy throughout Maryland, DC, and Virginia. Many times, behavior seen in the home will not be seen in an alternative setting, so the home can provide behavior analysts the opportunity to target specific behavior(s) or skill set(s) that need work. 
                Learning in the home environment is beneficial to the child’s progress as they are taught to use skills in a natural environment. Mastered skills can be generalized across various home-based settings</p>
              <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#modalHome">Read More</button>
            </div>
          </div>

          <div class="modal fade" id="modalHome" tabindex="-1" role="dialog" aria-labelledby="modalHomeTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modalHomeTitle">Home-based Therapy</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Behavior Management
                  Functional Behavior Assessments and Behavior Intervention Plan are conducted, written, and utilized to meet your child’s behavioral needs. Functionally and socially appropriate behaviors are taught to replace problematic or undesired behaviors through utilizing various procedures and techniques. 

                  Preventative Strategies
                  Some strategies to use but not limited to daily schedules, teaching children to express their wants and needs appropriately, providing scheduled breaks, giving children choices, and mixing up  instructional tasks and/or activities to prevent negative or undesired behaviors are done by manipulating triggers within the natural environment.

                  Reinforcement Strategies
                  Strategies include reinforcing appropriate behaviors through verbal praise, social praise, and a variety of reward systems to increase the likelihood of recurrence in the future. Preference assessments may be utilized in order to determine strong motivators for the individual to ensure that the reinforcement system is effective in evoking desired behaviors.

                  Management Strategies
                  Strategies include managing inappropriate behaviors in an effort to decrease the likelihood of recurrence in the future. A large focus is placed on antecedent interventions to manipulate the environment and put preventative strategies in place in order to prevent maladaptive behaviors from occurring.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>


          <div class="card border-success mb-3">
            <img src="https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/p480x480/110856461_883892732135444_8734478998865316981_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=108&_nc_ohc=u_Fm2_6EQ50AX_9J3PW&oh=4718f27e832dc51f7eb8f77c0f2ec437&oe=5F193FF5" class="card-img-top" alt="Consultation">
            <div class="card-body">
            <h5 class="card-title">Consultation</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <button type="button" class="btn btn-outline-success">Read More</button>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modalConsultation" tabindex="-1" role="dialog" aria-labelledby="modalConsultationTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalConsultationTitle">Consultation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <br>
      <div class="card border-danger">
        <div class="card text-center">
          <div class="card-body">
            <h5>Early Intervention Services </h5>
              <p class="card-text">What is unique about our early intervention programs at Sensory Tune Co? Glad you asked! We believe that working with children with autism and other developmental disabilities in the earliest years (ages 1.5 – 6 years old) promotes strong foundations that impact and change the whole self. For us this means all of the early skills like language, communication, independent play, and social skills. By designing a structured program around these foundation elements, children are set up for success both in the classroom and home. </p>
              <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalEarly">Read More</button>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modalEarly" tabindex="-1" role="dialog" aria-labelledby="modalEarlyTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalEarlyTitle">Early Intervention Services</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                The earlier services are delivered the better positive outcome, the staff at Sensory Tune-ups and Consultants Co work together to assess and begin your child’s program as quickly as possible, no matter where you live! Our staff of BCBAs, RBTs, Program Coordinators, and other clinicians will work together on an individualized approach tailored toward your child’s specific needs. We are eager to service you in the Maryland, District of Columbia, and Virginia area. 
                Our Pledge of Community is focused on Delivering quality, compassionate and effective care through the use of evidence-based treatment to help your child learn new skills, overcome challenges, and increase success in school and life. Together with parents, families, and our staff, we are changing lives!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      <br>

      <div class="row">
        <div class="col-sm-6">
          <div class="card border-secondary">
            <div class="card-body">
              <h5 class="card-title">1:1 Instruction</h5>
              <p class="card-text">1:1 Instruction
                Learners work 1:1 with highly trained professionals to develop skills in each of our core focus areas. Progress is closely monitored, and programs are adjusted as each child acquires target skills.
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-primary">
            <div class="card-body">
              <h5 class="card-title">Cuddle Time</h5>
              <p class="card-text">Learners practice their skills in a natural environment with their parents, guardians, and other loved ones. Instruction exposes learners using naturalistic environmental teaching. Check out our interactive read-aloud stories that encourage engagement learning opportunities between parent and child.</p>
            </div>
          </div>
        </div>
      </div>
      <br>


      <div class="card mb-3">
        <img class="card-img-top" src="https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/p480x480/109470143_316394642873494_5031359724475806945_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=110&_nc_ohc=7h4yD7n5R_EAX-sQvgl&oh=722ed13d0e71521b25b08de952d7a5a3&oe=5F19A382" alt="Behavior Bubble">
        <div class="card-body">
          <h5 class="card-title">Behavior Bubble</h5>
          <p class="card-text">Info needed</p>
        </div>
      </div>

      <div class="card" style="width: 25rem;">
        <iframe width="560" height="315" class="card-img-top" alt="Card image cap" src="https://www.youtube.com/embed/sTQXchXy4AQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <div class="card-body">
          <p class="card-text">Info Needed</p>
          <button type="button" class="btn btn-outline-warning" href="https://www.youtube.com/channel/UCKJMVkMLWkaiclAmpRz1SyA">Watch More</button>
        </div>
      </div>
      <br>

      <div class="card-deck">
        <div class="card border-info mb-3">
          <img class="card-img-top" src="https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/110045176_990182318106955_6765119845207775648_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=107&_nc_ohc=lE66EPm2R0QAX_eqnJL&oh=c630b2024c5f343fea53b2edee3da4c4&oe=5F1935AC" alt="Communication">
          <div class="card-body">
            <h5 class="card-title">Communication</h5>
            <p class="card-text">Through Applied Behavior Analysis, children learn language functionally (using language to request, using language to label, etc.) Starting with the basic wants and needs (simple nouns), children are taught to request, label, imitate, and more in the first stages of language development. Once the early learning targets are met, language is taught with more complexity, incorporating nouns with verbs and adjectives, while still focusing on the function. As language development continues, children build conversational skills, social skills, and independence.</p>
            <button class="btn btn-outline-info" data-toggle="modal" data-target="#modalCommunication">Read More</button>
          </div>
        </div>

        <div class="modal fade" id="modalCommunication" tabindex="-1" role="dialog" aria-labelledby="modalCommunicationTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalCommunicationTitle">Communication</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                The VB-MAPP and other related communication assessments are conducted, and individualized communication programming is developed.

                Verbal behavior training is frequently utilized during sessions in a discrete, 1:1 setting to teach the different verbal operant(s) used in peer-to-peer conversations. The basic verbal operant(s) targeted include the following:
                
                Natural Environment Teaching (NET) may also be utilized for children who are younger with less experience in an instructional setting. This may also be utilized when children have severe interfering behaviors and need time to adjust to a more intense instructional setting.                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-warning mb-3">
          <img class="card-img-top" src="https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/109486828_594767774569983_1603648000740530539_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=103&_nc_ohc=6kXZh-axXmUAX_Q_i4c&oh=f625f73964a87bd9e691003e59bfdb16&oe=5F191508" alt="Self-Help Skills">
          <div class="card-body">
            <h5 class="card-title">Self-Help Skills</h5>
            <p class="card-text">The Assessment for Functional Living Skills, along with similar assessments, are utilized to evaluate the skill level of a child for different self-help skills. Individualized task analyses and protocols are created to teach the steps within the skill effectively.</p>
            <button class="btn btn-outline-warning" data-toggle="modal" data-target="#modalSelf">Read More</button>
          </div>
        </div>

        <div class="modal fade" id="modalSelf" tabindex="-1" role="dialog" aria-labelledby="modalSelfTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalSelfTitle">Self-Help Skills</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Task analyses break difficult skills into a simple and easy to learn process.
                Progress on each step of the skill is measured to ensure that the skill is being learned correctly. Prompt hierarchies are utilized to systematically fade out the level of assistance the child is receiving until independence is achieved for each step of the skill.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="card border-success mb-3">
          <img class="card-img-top" src="https://scontent-iad3-1.cdninstagram.com/v/t51.2885-15/e35/p240x240/109992078_702278016996864_8847669955456253193_n.jpg?_nc_ht=scontent-iad3-1.cdninstagram.com&_nc_cat=100&_nc_ohc=5HN7Gzp_66EAX_3dK07&oh=fc0ca4297029297950ab68528378c4b8&oe=5F198078" alt="Social Skills">
          <div class="card-body">
            <h5 class="card-title">Social Skills</h5>
            <p class="card-text">The Social Beginnings program is designed to provide an engaging curriculum based on the principles of Applied Behavior Analysis that is tailored towards each child’s individual needs while being delivered to the group as a whole.</p>
            <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalSocial">Read More</button>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalSocial" tabindex="-1" role="dialog" aria-labelledby="modalSocialTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalSocialTitle">Communication</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Verbal Beginnings has found success with quicker skill acquisition by incorporating the fun and colorful materials as well as the associated vernacular of Michelle Garcia Winner’s Social Thinking® program when teaching the children in the group. The Social Thinking® curriculum also identifies a plethora of social skills commonly deficient in children with delayed social skill development. The application of the principles of Applied Behavior Analysis are utilized to task analyze this bank of social skill goals, organize them in a progressive developmental order and apply them to each child’s individual needs.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-success" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <br>
    </body>
</html>


